<!DOCTYPE html>
<html lang="en" data-hrld-root="{{hostDirName}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{relativePath 'assets/images/favicon.png'}}" type="image/png" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{relativePath 'styles/main.css'}}">
</head>

<body>
  <header class="main-header">
    <div class="container">
      <div class="main-header-container">
        <div class="main-logo">
          <div class="main-logo-dot"></div><a href="{{relativePath 'index.html'}}">Harold</a>
        </div>
        <nav class="main-menu">
          <ul class="main-menu-list">
            <li class="main-menu-list-item"><a href="{{relativePath 'about.html'}}">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
