<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ogTitle}}" />
  <meta property="og:description" content="{{ogDescription}}" />
  <meta property="og:image" content={{ogImage}} />
  <meta property="og:url" content="{{ogUrl}}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{twitterTitle}}" />
  <meta name="twitter:description" content="{{twitterDescription}}" />
  <meta name="twitter:url" content="{{twitterUrl}}" />
  <meta name="twitter:image" content={{twitterImage}} />

  <link rel="stylesheet"
      href="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/atom-one-dark.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <header class="main-header">
    <div class="container">
      <div class="main-header-container">
        <div class="main-logo">
          <div class="main-logo-dot"></div><a href="/">Harold</a>
        </div>
        <nav class="main-menu">
          <div class="main-menu-list">
            <div data-js-search class="main-menu-list-item">
              <i class="gg-search"></i>
            </div>
            <div data-js-menu class="main-menu-list-item">
              <i class="gg-menu"></i>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
