{{> head description=excerpt}}

<section class="container post-container" data-js-post-content>
  {{#if coverImage}}
  <aside class="post-cover-image">
    <img src="{{coverImage}}" />
  </aside>
  {{/if}}
  <article class="post-content">
    <div class="post-content-date">
      {{formatDate date=publicationDate format='dd mmmm yyyy'}}
    </div>
    <div>
      <h1 class="post-content-title">{{title}}</h1>
    </div>
    <div>
      {{{content}}}
    </div>
    <div class="post-content-tags">
      {{#each tags}}
      <div class="post-content-tag">{{this}}{{#if @last}}{{else}},{{/if}}</div>
      {{/each}}
    </div>
  </article>
</section>

{{> footer}}
